data/Flowers-perfect.zip
data/PSData.zip
data/Flowers-perfect/calib.txt
data/Flowers-perfect/disp0-n.pgm
data/Flowers-perfect/disp0-sd.pfm
data/Flowers-perfect/disp0.pfm
data/Flowers-perfect/disp1-n.pgm
data/Flowers-perfect/disp1-sd.pfm
data/Flowers-perfect/disp1.pfm
data/Flowers-perfect/im0.png
data/Flowers-perfect/im1.png
data/Flowers-perfect/im1E.png
data/Flowers-perfect/im1L.png
data/PSData/Code/ChangeLog.txt
data/PSData/Code/demoPSBox.m
data/PSData/Code/FindLightDirectionFromChromeSphere.m
data/PSData/Code/LICENSE.txt
data/PSData/Code/PhotometricStereo.m
data/PSData/Code/PhotometricStereo.pdf
data/PSData/Code/PSBoxTest.m
data/PSData/Code/PSCropImages.m
data/PSData/Code/PSEstimateLightStrength.m
data/PSData/Code/PSEstimateLightStrengthCost.m
data/PSData/Code/PSEstimateLightStrengthCostTest.m
data/PSData/Code/PSEvalNEstimateByIError.m
data/PSData/Code/PSFindLightDirection.m
data/PSData/Code/PSFitLightProbeCircle.m
data/PSData/Code/PSLoadProcessedImages.m
data/PSData/Code/PSRefineLight.m
data/PSData/Code/PSRefineLightCost.m
data/PSData/Code/PSRefineLightCostTest.m
data/PSData/Code/PSRenameInputImages.m
data/PSData/Code/README.txt
data/PSData/Code/setPath.m
data/PSData/Code/DfGBox/demoDfGBox.m
data/PSData/Code/DfGBox/DepthFromGradient.m
data/PSData/Code/DfGBox/DepthFromGradient.pdf
data/PSData/Code/DfGBox/DepthFromGradientTest.m
data/PSData/Code/DfGBox/DfGBoxTest.m
data/PSData/Code/DfGBox/README.txt
data/PSData/Code/NLLSBox/BoundedFcnToUnconstrainedFcn.m
data/PSData/Code/NLLSBox/demoNLLSBox.m
data/PSData/Code/NLLSBox/MapBoundedToUnconstrained.m
data/PSData/Code/NLLSBox/MapBoundedToUnconstrainedTest.m
data/PSData/Code/NLLSBox/MapUnconstrainedToBounded.m
data/PSData/Code/NLLSBox/MapUnconstrainedToBoundedTest.m
data/PSData/Code/NLLSBox/NLLSBoxTest.m
data/PSData/Code/NLLSBox/NLLSCurveToCost.m
data/PSData/Code/NLLSBox/NLLSCurveToCostTest.m
data/PSData/Code/NLLSBox/NLLSTest1DCurve.m
data/PSData/Code/NLLSBox/NLLSTest1DCurveNoJacobian.m
data/PSData/Code/NLLSBox/NLLSTest1DCurveTest.m
data/PSData/Code/NLLSBox/NonlinearLeastSquares.m
data/PSData/Code/NLLSBox/NonlinearLeastSquares.pdf
data/PSData/Code/NLLSBox/NonlinearLeastSquaresTest.m
data/PSData/Code/NLLSBox/README.txt
data/PSData/Code/Utils/CheckGradient.m
data/PSData/Code/Utils/CheckJacobian.m
data/PSData/Code/Utils/CheckNear.m
data/PSData/Code/Utils/CheckNearAbs.m
data/PSData/Code/Utils/CheckNearRel.m
data/PSData/Code/Utils/FitCircle.m
data/PSData/Code/Utils/NumericalJacobian.m
data/PSData/Code/Utils/NumSubplotRowsColsFromTotal.m
data/PSData/Code/Utils/ShowProgress.m
data/PSData/Code/data/.gitignore
data/PSData/Code/data/LightProbe-1/circle_data.txt
data/PSData/Code/data/LightProbe-1/Image_01.JPG
data/PSData/Code/data/LightProbe-1/Image_02.JPG
data/PSData/Code/data/LightProbe-1/Image_03.JPG
data/PSData/Code/data/LightProbe-1/Image_04.JPG
data/PSData/Code/data/LightProbe-1/Image_05.JPG
data/PSData/Code/data/LightProbe-1/Image_06.JPG
data/PSData/Code/data/LightProbe-1/Image_07.JPG
data/PSData/Code/data/LightProbe-1/Image_08.JPG
data/PSData/Code/data/LightProbe-1/Image_09.JPG
data/PSData/Code/data/LightProbe-1/Image_10.JPG
data/PSData/Code/data/LightProbe-1/Image_11.JPG
data/PSData/Code/data/LightProbe-1/Image_12.JPG
data/PSData/Code/data/LightProbe-1/ref.JPG
data/PSData/Code/data/LightProbe-2/circle_data.txt
data/PSData/Code/data/LightProbe-2/Image_01.JPG
data/PSData/Code/data/LightProbe-2/Image_02.JPG
data/PSData/Code/data/LightProbe-2/Image_03.JPG
data/PSData/Code/data/LightProbe-2/Image_04.JPG
data/PSData/Code/data/LightProbe-2/Image_05.JPG
data/PSData/Code/data/LightProbe-2/Image_06.JPG
data/PSData/Code/data/LightProbe-2/Image_07.JPG
data/PSData/Code/data/LightProbe-2/Image_08.JPG
data/PSData/Code/data/LightProbe-2/Image_09.JPG
data/PSData/Code/data/LightProbe-2/Image_10.JPG
data/PSData/Code/data/LightProbe-2/Image_11.JPG
data/PSData/Code/data/LightProbe-2/Image_12.JPG
data/PSData/Code/data/LightProbe-2/ref.JPG
data/PSData/Code/data/ManualData/circle1_pts.txt
data/PSData/Code/data/ManualData/circle2_pts.txt
data/PSData/Code/data/ManualData/obj_bbox.txt
data/PSData/Code/data/ManualData/probes_bbox.txt
data/PSData/Code/data/Objects/Image_01.png
data/PSData/Code/data/Objects/Image_02.png
data/PSData/Code/data/Objects/Image_03.png
data/PSData/Code/data/Objects/Image_04.png
data/PSData/Code/data/Objects/Image_05.png
data/PSData/Code/data/Objects/Image_06.png
data/PSData/Code/data/Objects/Image_07.png
data/PSData/Code/data/Objects/Image_08.png
data/PSData/Code/data/Objects/Image_09.png
data/PSData/Code/data/Objects/Image_10.png
data/PSData/Code/data/Objects/Image_11.png
data/PSData/Code/data/Objects/Image_12.png
data/PSData/cat/Ierr.log
data/PSData/cat/light_directions.txt
data/PSData/cat/refined_light.txt
data/PSData/cat/result.mat
data/PSData/cat/LightProbe-1/circle_data.txt
data/PSData/cat/LightProbe-1/Image_01.JPG
data/PSData/cat/LightProbe-1/Image_02.JPG
data/PSData/cat/LightProbe-1/Image_03.JPG
data/PSData/cat/LightProbe-1/Image_04.JPG
data/PSData/cat/LightProbe-1/Image_05.JPG
data/PSData/cat/LightProbe-1/Image_06.JPG
data/PSData/cat/LightProbe-1/Image_07.JPG
data/PSData/cat/LightProbe-1/Image_08.JPG
data/PSData/cat/LightProbe-1/Image_09.JPG
data/PSData/cat/LightProbe-1/Image_10.JPG
data/PSData/cat/LightProbe-1/Image_11.JPG
data/PSData/cat/LightProbe-1/Image_12.JPG
data/PSData/cat/LightProbe-1/Image_13.JPG
data/PSData/cat/LightProbe-1/Image_14.JPG
data/PSData/cat/LightProbe-1/Image_15.JPG
data/PSData/cat/LightProbe-1/Image_16.JPG
data/PSData/cat/LightProbe-1/Image_17.JPG
data/PSData/cat/LightProbe-1/Image_18.JPG
data/PSData/cat/LightProbe-1/Image_19.JPG
data/PSData/cat/LightProbe-1/Image_20.JPG
data/PSData/cat/LightProbe-1/light_directions.txt
data/PSData/cat/LightProbe-1/ref.JPG
data/PSData/cat/LightProbe-2/circle_data.txt
data/PSData/cat/LightProbe-2/Image_01.JPG
data/PSData/cat/LightProbe-2/Image_02.JPG
data/PSData/cat/LightProbe-2/Image_03.JPG
data/PSData/cat/LightProbe-2/Image_04.JPG
data/PSData/cat/LightProbe-2/Image_05.JPG
data/PSData/cat/LightProbe-2/Image_06.JPG
data/PSData/cat/LightProbe-2/Image_07.JPG
data/PSData/cat/LightProbe-2/Image_08.JPG
data/PSData/cat/LightProbe-2/Image_09.JPG
data/PSData/cat/LightProbe-2/Image_10.JPG
data/PSData/cat/LightProbe-2/Image_11.JPG
data/PSData/cat/LightProbe-2/Image_12.JPG
data/PSData/cat/LightProbe-2/Image_13.JPG
data/PSData/cat/LightProbe-2/Image_14.JPG
data/PSData/cat/LightProbe-2/Image_15.JPG
data/PSData/cat/LightProbe-2/Image_16.JPG
data/PSData/cat/LightProbe-2/Image_17.JPG
data/PSData/cat/LightProbe-2/Image_18.JPG
data/PSData/cat/LightProbe-2/Image_19.JPG
data/PSData/cat/LightProbe-2/Image_20.JPG
data/PSData/cat/LightProbe-2/light_directions.txt
data/PSData/cat/LightProbe-2/ref.JPG
data/PSData/cat/ManualData/circle1_pts.txt
data/PSData/cat/ManualData/circle2_pts.txt
data/PSData/cat/ManualData/obj_bbox.txt
data/PSData/cat/ManualData/probes_bbox.txt
data/PSData/cat/Objects/Image_01.png
data/PSData/cat/Objects/Image_02.png
data/PSData/cat/Objects/Image_03.png
data/PSData/cat/Objects/Image_04.png
data/PSData/cat/Objects/Image_05.png
data/PSData/cat/Objects/Image_06.png
data/PSData/cat/Objects/Image_07.png
data/PSData/cat/Objects/Image_08.png
data/PSData/cat/Objects/Image_09.png
data/PSData/cat/Objects/Image_10.png
data/PSData/cat/Objects/Image_11.png
data/PSData/cat/Objects/Image_12.png
data/PSData/cat/Objects/Image_13.png
data/PSData/cat/Objects/Image_14.png
data/PSData/cat/Objects/Image_15.png
data/PSData/cat/Objects/Image_16.png
data/PSData/cat/Objects/Image_17.png
data/PSData/cat/Objects/Image_18.png
data/PSData/cat/Objects/Image_19.png
data/PSData/cat/Objects/Image_20.png
data/PSData/frog/Ierr.log
data/PSData/frog/light_directions.txt
data/PSData/frog/refined_light.txt
data/PSData/frog/result.mat
data/PSData/frog/LightProbe-1/circle_data.txt
data/PSData/frog/LightProbe-1/Image_01.JPG
data/PSData/frog/LightProbe-1/Image_02.JPG
data/PSData/frog/LightProbe-1/Image_03.JPG
data/PSData/frog/LightProbe-1/Image_04.JPG
data/PSData/frog/LightProbe-1/Image_05.JPG
data/PSData/frog/LightProbe-1/Image_06.JPG
data/PSData/frog/LightProbe-1/Image_07.JPG
data/PSData/frog/LightProbe-1/Image_08.JPG
data/PSData/frog/LightProbe-1/Image_09.JPG
data/PSData/frog/LightProbe-1/Image_10.JPG
data/PSData/frog/LightProbe-1/Image_11.JPG
data/PSData/frog/LightProbe-1/Image_12.JPG
data/PSData/frog/LightProbe-1/Image_13.JPG
data/PSData/frog/LightProbe-1/Image_14.JPG
data/PSData/frog/LightProbe-1/Image_15.JPG
data/PSData/frog/LightProbe-1/Image_16.JPG
data/PSData/frog/LightProbe-1/Image_17.JPG
data/PSData/frog/LightProbe-1/Image_18.JPG
data/PSData/frog/LightProbe-1/Image_19.JPG
data/PSData/frog/LightProbe-1/Image_20.JPG
data/PSData/frog/LightProbe-1/light_directions.txt
data/PSData/frog/LightProbe-1/ref.JPG
data/PSData/frog/LightProbe-2/circle_data.txt
data/PSData/frog/LightProbe-2/Image_01.JPG
data/PSData/frog/LightProbe-2/Image_02.JPG
data/PSData/frog/LightProbe-2/Image_03.JPG
data/PSData/frog/LightProbe-2/Image_04.JPG
data/PSData/frog/LightProbe-2/Image_05.JPG
data/PSData/frog/LightProbe-2/Image_06.JPG
data/PSData/frog/LightProbe-2/Image_07.JPG
data/PSData/frog/LightProbe-2/Image_08.JPG
data/PSData/frog/LightProbe-2/Image_09.JPG
data/PSData/frog/LightProbe-2/Image_10.JPG
data/PSData/frog/LightProbe-2/Image_11.JPG
data/PSData/frog/LightProbe-2/Image_12.JPG
data/PSData/frog/LightProbe-2/Image_13.JPG
data/PSData/frog/LightProbe-2/Image_14.JPG
data/PSData/frog/LightProbe-2/Image_15.JPG
data/PSData/frog/LightProbe-2/Image_16.JPG
data/PSData/frog/LightProbe-2/Image_17.JPG
data/PSData/frog/LightProbe-2/Image_18.JPG
data/PSData/frog/LightProbe-2/Image_19.JPG
data/PSData/frog/LightProbe-2/Image_20.JPG
data/PSData/frog/LightProbe-2/light_directions.txt
data/PSData/frog/LightProbe-2/ref.JPG
data/PSData/frog/ManualData/circle1_pts.txt
data/PSData/frog/ManualData/circle2_pts.txt
data/PSData/frog/ManualData/obj_bbox.txt
data/PSData/frog/ManualData/probes_bbox.txt
data/PSData/frog/Objects/Image_01.png
data/PSData/frog/Objects/Image_02.png
data/PSData/frog/Objects/Image_03.png
data/PSData/frog/Objects/Image_04.png
data/PSData/frog/Objects/Image_05.png
data/PSData/frog/Objects/Image_06.png
data/PSData/frog/Objects/Image_07.png
data/PSData/frog/Objects/Image_08.png
data/PSData/frog/Objects/Image_09.png
data/PSData/frog/Objects/Image_10.png
data/PSData/frog/Objects/Image_11.png
data/PSData/frog/Objects/Image_12.png
data/PSData/frog/Objects/Image_13.png
data/PSData/frog/Objects/Image_14.png
data/PSData/frog/Objects/Image_15.png
data/PSData/frog/Objects/Image_16.png
data/PSData/frog/Objects/Image_17.png
data/PSData/frog/Objects/Image_18.png
data/PSData/frog/Objects/Image_19.png
data/PSData/frog/Objects/Image_20.png
data/PSData/hippo/Ierr.log
data/PSData/hippo/light_directions.txt
data/PSData/hippo/refined_light.txt
data/PSData/hippo/result.mat
data/PSData/hippo/LightProbe-1/circle_data.txt
data/PSData/hippo/LightProbe-1/Image_01.JPG
data/PSData/hippo/LightProbe-1/Image_02.JPG
data/PSData/hippo/LightProbe-1/Image_03.JPG
data/PSData/hippo/LightProbe-1/Image_04.JPG
data/PSData/hippo/LightProbe-1/Image_05.JPG
data/PSData/hippo/LightProbe-1/Image_06.JPG
data/PSData/hippo/LightProbe-1/Image_07.JPG
data/PSData/hippo/LightProbe-1/Image_08.JPG
data/PSData/hippo/LightProbe-1/Image_09.JPG
data/PSData/hippo/LightProbe-1/Image_10.JPG
data/PSData/hippo/LightProbe-1/Image_11.JPG
data/PSData/hippo/LightProbe-1/Image_12.JPG
data/PSData/hippo/LightProbe-1/Image_13.JPG
data/PSData/hippo/LightProbe-1/Image_14.JPG
data/PSData/hippo/LightProbe-1/Image_15.JPG
data/PSData/hippo/LightProbe-1/Image_16.JPG
data/PSData/hippo/LightProbe-1/Image_17.JPG
data/PSData/hippo/LightProbe-1/Image_18.JPG
data/PSData/hippo/LightProbe-1/Image_19.JPG
data/PSData/hippo/LightProbe-1/Image_20.JPG
data/PSData/hippo/LightProbe-1/light_directions.txt
data/PSData/hippo/LightProbe-1/ref.JPG
data/PSData/hippo/LightProbe-2/circle_data.txt
data/PSData/hippo/LightProbe-2/Image_01.JPG
data/PSData/hippo/LightProbe-2/Image_02.JPG
data/PSData/hippo/LightProbe-2/Image_03.JPG
data/PSData/hippo/LightProbe-2/Image_04.JPG
data/PSData/hippo/LightProbe-2/Image_05.JPG
data/PSData/hippo/LightProbe-2/Image_06.JPG
data/PSData/hippo/LightProbe-2/Image_07.JPG
data/PSData/hippo/LightProbe-2/Image_08.JPG
data/PSData/hippo/LightProbe-2/Image_09.JPG
data/PSData/hippo/LightProbe-2/Image_10.JPG
data/PSData/hippo/LightProbe-2/Image_11.JPG
data/PSData/hippo/LightProbe-2/Image_12.JPG
data/PSData/hippo/LightProbe-2/Image_13.JPG
data/PSData/hippo/LightProbe-2/Image_14.JPG
data/PSData/hippo/LightProbe-2/Image_15.JPG
data/PSData/hippo/LightProbe-2/Image_16.JPG
data/PSData/hippo/LightProbe-2/Image_17.JPG
data/PSData/hippo/LightProbe-2/Image_18.JPG
data/PSData/hippo/LightProbe-2/Image_19.JPG
data/PSData/hippo/LightProbe-2/Image_20.JPG
data/PSData/hippo/LightProbe-2/light_directions.txt
data/PSData/hippo/LightProbe-2/ref.JPG
data/PSData/hippo/ManualData/circle1_pts.txt
data/PSData/hippo/ManualData/circle2_pts.txt
data/PSData/hippo/ManualData/obj_bbox.txt
data/PSData/hippo/ManualData/probes_bbox.txt
data/PSData/hippo/Objects/Image_01.png
data/PSData/hippo/Objects/Image_02.png
data/PSData/hippo/Objects/Image_03.png
data/PSData/hippo/Objects/Image_04.png
data/PSData/hippo/Objects/Image_05.png
data/PSData/hippo/Objects/Image_06.png
data/PSData/hippo/Objects/Image_07.png
data/PSData/hippo/Objects/Image_08.png
data/PSData/hippo/Objects/Image_09.png
data/PSData/hippo/Objects/Image_10.png
data/PSData/hippo/Objects/Image_11.png
data/PSData/hippo/Objects/Image_12.png
data/PSData/hippo/Objects/Image_13.png
data/PSData/hippo/Objects/Image_14.png
data/PSData/hippo/Objects/Image_15.png
data/PSData/hippo/Objects/Image_16.png
data/PSData/hippo/Objects/Image_17.png
data/PSData/hippo/Objects/Image_18.png
data/PSData/hippo/Objects/Image_19.png
data/PSData/hippo/Objects/Image_20.png
data/PSData/lizard/Ierr.log
data/PSData/lizard/light_directions.txt
data/PSData/lizard/refined_light.txt
data/PSData/lizard/result.mat
data/PSData/lizard/LightProbe-1/circle_data.txt
data/PSData/lizard/LightProbe-1/Image_01.JPG
data/PSData/lizard/LightProbe-1/Image_02.JPG
data/PSData/lizard/LightProbe-1/Image_03.JPG
data/PSData/lizard/LightProbe-1/Image_04.JPG
data/PSData/lizard/LightProbe-1/Image_05.JPG
data/PSData/lizard/LightProbe-1/Image_06.JPG
data/PSData/lizard/LightProbe-1/Image_07.JPG
data/PSData/lizard/LightProbe-1/Image_08.JPG
data/PSData/lizard/LightProbe-1/Image_09.JPG
data/PSData/lizard/LightProbe-1/Image_10.JPG
data/PSData/lizard/LightProbe-1/Image_11.JPG
data/PSData/lizard/LightProbe-1/Image_12.JPG
data/PSData/lizard/LightProbe-1/Image_13.JPG
data/PSData/lizard/LightProbe-1/Image_14.JPG
data/PSData/lizard/LightProbe-1/Image_15.JPG
data/PSData/lizard/LightProbe-1/Image_16.JPG
data/PSData/lizard/LightProbe-1/Image_17.JPG
data/PSData/lizard/LightProbe-1/Image_18.JPG
data/PSData/lizard/LightProbe-1/Image_19.JPG
data/PSData/lizard/LightProbe-1/Image_20.JPG
data/PSData/lizard/LightProbe-1/light_directions.txt
data/PSData/lizard/LightProbe-1/ref.JPG
data/PSData/lizard/LightProbe-2/circle_data.txt
data/PSData/lizard/LightProbe-2/Image_01.JPG
data/PSData/lizard/LightProbe-2/Image_02.JPG
data/PSData/lizard/LightProbe-2/Image_03.JPG
data/PSData/lizard/LightProbe-2/Image_04.JPG
data/PSData/lizard/LightProbe-2/Image_05.JPG
data/PSData/lizard/LightProbe-2/Image_06.JPG
data/PSData/lizard/LightProbe-2/Image_07.JPG
data/PSData/lizard/LightProbe-2/Image_08.JPG
data/PSData/lizard/LightProbe-2/Image_09.JPG
data/PSData/lizard/LightProbe-2/Image_10.JPG
data/PSData/lizard/LightProbe-2/Image_11.JPG
data/PSData/lizard/LightProbe-2/Image_12.JPG
data/PSData/lizard/LightProbe-2/Image_13.JPG
data/PSData/lizard/LightProbe-2/Image_14.JPG
data/PSData/lizard/LightProbe-2/Image_15.JPG
data/PSData/lizard/LightProbe-2/Image_16.JPG
data/PSData/lizard/LightProbe-2/Image_17.JPG
data/PSData/lizard/LightProbe-2/Image_18.JPG
data/PSData/lizard/LightProbe-2/Image_19.JPG
data/PSData/lizard/LightProbe-2/Image_20.JPG
data/PSData/lizard/LightProbe-2/light_directions.txt
data/PSData/lizard/LightProbe-2/ref.JPG
data/PSData/lizard/ManualData/circle1_pts.txt
data/PSData/lizard/ManualData/circle2_pts.txt
data/PSData/lizard/ManualData/obj_bbox.txt
data/PSData/lizard/ManualData/probes_bbox.txt
data/PSData/lizard/Objects/Image_01.png
data/PSData/lizard/Objects/Image_02.png
data/PSData/lizard/Objects/Image_03.png
data/PSData/lizard/Objects/Image_04.png
data/PSData/lizard/Objects/Image_05.png
data/PSData/lizard/Objects/Image_06.png
data/PSData/lizard/Objects/Image_07.png
data/PSData/lizard/Objects/Image_08.png
data/PSData/lizard/Objects/Image_09.png
data/PSData/lizard/Objects/Image_10.png
data/PSData/lizard/Objects/Image_11.png
data/PSData/lizard/Objects/Image_12.png
data/PSData/lizard/Objects/Image_13.png
data/PSData/lizard/Objects/Image_14.png
data/PSData/lizard/Objects/Image_15.png
data/PSData/lizard/Objects/Image_16.png
data/PSData/lizard/Objects/Image_17.png
data/PSData/lizard/Objects/Image_18.png
data/PSData/lizard/Objects/Image_19.png
data/PSData/lizard/Objects/Image_20.png
data/PSData/pig/Ierr.log
data/PSData/pig/light_directions.txt
data/PSData/pig/refined_light.txt
data/PSData/pig/result.mat
data/PSData/pig/LightProbe-1/circle_data.txt
data/PSData/pig/LightProbe-1/Image_01.JPG
data/PSData/pig/LightProbe-1/Image_02.JPG
data/PSData/pig/LightProbe-1/Image_03.JPG
data/PSData/pig/LightProbe-1/Image_04.JPG
data/PSData/pig/LightProbe-1/Image_05.JPG
data/PSData/pig/LightProbe-1/Image_06.JPG
data/PSData/pig/LightProbe-1/Image_07.JPG
data/PSData/pig/LightProbe-1/Image_08.JPG
data/PSData/pig/LightProbe-1/Image_09.JPG
data/PSData/pig/LightProbe-1/Image_10.JPG
data/PSData/pig/LightProbe-1/Image_11.JPG
data/PSData/pig/LightProbe-1/Image_12.JPG
data/PSData/pig/LightProbe-1/Image_13.JPG
data/PSData/pig/LightProbe-1/Image_14.JPG
data/PSData/pig/LightProbe-1/Image_15.JPG
data/PSData/pig/LightProbe-1/Image_16.JPG
data/PSData/pig/LightProbe-1/Image_17.JPG
data/PSData/pig/LightProbe-1/Image_18.JPG
data/PSData/pig/LightProbe-1/Image_19.JPG
data/PSData/pig/LightProbe-1/Image_20.JPG
data/PSData/pig/LightProbe-1/light_directions.txt
data/PSData/pig/LightProbe-1/ref.JPG
data/PSData/pig/LightProbe-2/circle_data.txt
data/PSData/pig/LightProbe-2/Image_01.JPG
data/PSData/pig/LightProbe-2/Image_02.JPG
data/PSData/pig/LightProbe-2/Image_03.JPG
data/PSData/pig/LightProbe-2/Image_04.JPG
data/PSData/pig/LightProbe-2/Image_05.JPG
data/PSData/pig/LightProbe-2/Image_06.JPG
data/PSData/pig/LightProbe-2/Image_07.JPG
data/PSData/pig/LightProbe-2/Image_08.JPG
data/PSData/pig/LightProbe-2/Image_09.JPG
data/PSData/pig/LightProbe-2/Image_10.JPG
data/PSData/pig/LightProbe-2/Image_11.JPG
data/PSData/pig/LightProbe-2/Image_12.JPG
data/PSData/pig/LightProbe-2/Image_13.JPG
data/PSData/pig/LightProbe-2/Image_14.JPG
data/PSData/pig/LightProbe-2/Image_15.JPG
data/PSData/pig/LightProbe-2/Image_16.JPG
data/PSData/pig/LightProbe-2/Image_17.JPG
data/PSData/pig/LightProbe-2/Image_18.JPG
data/PSData/pig/LightProbe-2/Image_19.JPG
data/PSData/pig/LightProbe-2/Image_20.JPG
data/PSData/pig/LightProbe-2/light_directions.txt
data/PSData/pig/LightProbe-2/ref.JPG
data/PSData/pig/ManualData/circle1_pts.txt
data/PSData/pig/ManualData/circle2_pts.txt
data/PSData/pig/ManualData/obj_bbox.txt
data/PSData/pig/ManualData/probes_bbox.txt
data/PSData/pig/Objects/Image_01.png
data/PSData/pig/Objects/Image_02.png
data/PSData/pig/Objects/Image_03.png
data/PSData/pig/Objects/Image_04.png
data/PSData/pig/Objects/Image_05.png
data/PSData/pig/Objects/Image_06.png
data/PSData/pig/Objects/Image_07.png
data/PSData/pig/Objects/Image_08.png
data/PSData/pig/Objects/Image_09.png
data/PSData/pig/Objects/Image_10.png
data/PSData/pig/Objects/Image_11.png
data/PSData/pig/Objects/Image_12.png
data/PSData/pig/Objects/Image_13.png
data/PSData/pig/Objects/Image_14.png
data/PSData/pig/Objects/Image_15.png
data/PSData/pig/Objects/Image_16.png
data/PSData/pig/Objects/Image_17.png
data/PSData/pig/Objects/Image_18.png
data/PSData/pig/Objects/Image_19.png
data/PSData/pig/Objects/Image_20.png
data/PSData/scholar/Ierr.log
data/PSData/scholar/light_directions.txt
data/PSData/scholar/refined_light.txt
data/PSData/scholar/result.mat
data/PSData/scholar/LightProbe-1/circle_data.txt
data/PSData/scholar/LightProbe-1/Image_01.JPG
data/PSData/scholar/LightProbe-1/Image_02.JPG
data/PSData/scholar/LightProbe-1/Image_03.JPG
data/PSData/scholar/LightProbe-1/Image_04.JPG
data/PSData/scholar/LightProbe-1/Image_05.JPG
data/PSData/scholar/LightProbe-1/Image_06.JPG
data/PSData/scholar/LightProbe-1/Image_07.JPG
data/PSData/scholar/LightProbe-1/Image_08.JPG
data/PSData/scholar/LightProbe-1/Image_09.JPG
data/PSData/scholar/LightProbe-1/Image_10.JPG
data/PSData/scholar/LightProbe-1/Image_11.JPG
data/PSData/scholar/LightProbe-1/Image_12.JPG
data/PSData/scholar/LightProbe-1/Image_13.JPG
data/PSData/scholar/LightProbe-1/Image_14.JPG
data/PSData/scholar/LightProbe-1/Image_15.JPG
data/PSData/scholar/LightProbe-1/Image_16.JPG
data/PSData/scholar/LightProbe-1/Image_17.JPG
data/PSData/scholar/LightProbe-1/Image_18.JPG
data/PSData/scholar/LightProbe-1/Image_19.JPG
data/PSData/scholar/LightProbe-1/Image_20.JPG
data/PSData/scholar/LightProbe-1/light_directions.txt
data/PSData/scholar/LightProbe-1/ref.JPG
data/PSData/scholar/LightProbe-2/circle_data.txt
data/PSData/scholar/LightProbe-2/Image_01.JPG
data/PSData/scholar/LightProbe-2/Image_02.JPG
data/PSData/scholar/LightProbe-2/Image_03.JPG
data/PSData/scholar/LightProbe-2/Image_04.JPG
data/PSData/scholar/LightProbe-2/Image_05.JPG
data/PSData/scholar/LightProbe-2/Image_06.JPG
data/PSData/scholar/LightProbe-2/Image_07.JPG
data/PSData/scholar/LightProbe-2/Image_08.JPG
data/PSData/scholar/LightProbe-2/Image_09.JPG
data/PSData/scholar/LightProbe-2/Image_10.JPG
data/PSData/scholar/LightProbe-2/Image_11.JPG
data/PSData/scholar/LightProbe-2/Image_12.JPG
data/PSData/scholar/LightProbe-2/Image_13.JPG
data/PSData/scholar/LightProbe-2/Image_14.JPG
data/PSData/scholar/LightProbe-2/Image_15.JPG
data/PSData/scholar/LightProbe-2/Image_16.JPG
data/PSData/scholar/LightProbe-2/Image_17.JPG
data/PSData/scholar/LightProbe-2/Image_18.JPG
data/PSData/scholar/LightProbe-2/Image_19.JPG
data/PSData/scholar/LightProbe-2/Image_20.JPG
data/PSData/scholar/LightProbe-2/light_directions.txt
data/PSData/scholar/LightProbe-2/ref.JPG
data/PSData/scholar/ManualData/circle1_pts.txt
data/PSData/scholar/ManualData/circle2_pts.txt
data/PSData/scholar/ManualData/obj_bbox.txt
data/PSData/scholar/ManualData/probes_bbox.txt
data/PSData/scholar/Objects/Image_01.png
data/PSData/scholar/Objects/Image_02.png
data/PSData/scholar/Objects/Image_03.png
data/PSData/scholar/Objects/Image_04.png
data/PSData/scholar/Objects/Image_05.png
data/PSData/scholar/Objects/Image_06.png
data/PSData/scholar/Objects/Image_07.png
data/PSData/scholar/Objects/Image_08.png
data/PSData/scholar/Objects/Image_09.png
data/PSData/scholar/Objects/Image_10.png
data/PSData/scholar/Objects/Image_11.png
data/PSData/scholar/Objects/Image_12.png
data/PSData/scholar/Objects/Image_13.png
data/PSData/scholar/Objects/Image_14.png
data/PSData/scholar/Objects/Image_15.png
data/PSData/scholar/Objects/Image_16.png
data/PSData/scholar/Objects/Image_17.png
data/PSData/scholar/Objects/Image_18.png
data/PSData/scholar/Objects/Image_19.png
data/PSData/scholar/Objects/Image_20.png
data/PSData/turtle/Ierr.log
data/PSData/turtle/light_directions.txt
data/PSData/turtle/refined_light.txt
data/PSData/turtle/result.mat
data/PSData/turtle/LightProbe-1/circle_data.txt
data/PSData/turtle/LightProbe-1/Image_01.JPG
data/PSData/turtle/LightProbe-1/Image_02.JPG
data/PSData/turtle/LightProbe-1/Image_03.JPG
data/PSData/turtle/LightProbe-1/Image_04.JPG
data/PSData/turtle/LightProbe-1/Image_05.JPG
data/PSData/turtle/LightProbe-1/Image_06.JPG
data/PSData/turtle/LightProbe-1/Image_07.JPG
data/PSData/turtle/LightProbe-1/Image_08.JPG
data/PSData/turtle/LightProbe-1/Image_09.JPG
data/PSData/turtle/LightProbe-1/Image_10.JPG
data/PSData/turtle/LightProbe-1/Image_11.JPG
data/PSData/turtle/LightProbe-1/Image_12.JPG
data/PSData/turtle/LightProbe-1/Image_13.JPG
data/PSData/turtle/LightProbe-1/Image_14.JPG
data/PSData/turtle/LightProbe-1/Image_15.JPG
data/PSData/turtle/LightProbe-1/Image_16.JPG
data/PSData/turtle/LightProbe-1/Image_17.JPG
data/PSData/turtle/LightProbe-1/Image_18.JPG
data/PSData/turtle/LightProbe-1/Image_19.JPG
data/PSData/turtle/LightProbe-1/Image_20.JPG
data/PSData/turtle/LightProbe-1/light_directions.txt
data/PSData/turtle/LightProbe-1/ref.JPG
data/PSData/turtle/LightProbe-2/circle_data.txt
data/PSData/turtle/LightProbe-2/Image_01.JPG
data/PSData/turtle/LightProbe-2/Image_02.JPG
data/PSData/turtle/LightProbe-2/Image_03.JPG
data/PSData/turtle/LightProbe-2/Image_04.JPG
data/PSData/turtle/LightProbe-2/Image_05.JPG
data/PSData/turtle/LightProbe-2/Image_06.JPG
data/PSData/turtle/LightProbe-2/Image_07.JPG
data/PSData/turtle/LightProbe-2/Image_08.JPG
data/PSData/turtle/LightProbe-2/Image_09.JPG
data/PSData/turtle/LightProbe-2/Image_10.JPG
data/PSData/turtle/LightProbe-2/Image_11.JPG
data/PSData/turtle/LightProbe-2/Image_12.JPG
data/PSData/turtle/LightProbe-2/Image_13.JPG
data/PSData/turtle/LightProbe-2/Image_14.JPG
data/PSData/turtle/LightProbe-2/Image_15.JPG
data/PSData/turtle/LightProbe-2/Image_16.JPG
data/PSData/turtle/LightProbe-2/Image_17.JPG
data/PSData/turtle/LightProbe-2/Image_18.JPG
data/PSData/turtle/LightProbe-2/Image_19.JPG
data/PSData/turtle/LightProbe-2/Image_20.JPG
data/PSData/turtle/LightProbe-2/light_directions.txt
data/PSData/turtle/LightProbe-2/ref.JPG
data/PSData/turtle/ManualData/circle1_pts.txt
data/PSData/turtle/ManualData/circle2_pts.txt
data/PSData/turtle/ManualData/obj_bbox.txt
data/PSData/turtle/ManualData/probes_bbox.txt
data/PSData/turtle/Objects/Image_01.png
data/PSData/turtle/Objects/Image_02.png
data/PSData/turtle/Objects/Image_03.png
data/PSData/turtle/Objects/Image_04.png
data/PSData/turtle/Objects/Image_05.png
data/PSData/turtle/Objects/Image_06.png
data/PSData/turtle/Objects/Image_07.png
data/PSData/turtle/Objects/Image_08.png
data/PSData/turtle/Objects/Image_09.png
data/PSData/turtle/Objects/Image_10.png
data/PSData/turtle/Objects/Image_11.png
data/PSData/turtle/Objects/Image_12.png
data/PSData/turtle/Objects/Image_13.png
data/PSData/turtle/Objects/Image_14.png
data/PSData/turtle/Objects/Image_15.png
data/PSData/turtle/Objects/Image_16.png
data/PSData/turtle/Objects/Image_17.png
data/PSData/turtle/Objects/Image_18.png
data/PSData/turtle/Objects/Image_19.png
data/PSData/turtle/Objects/Image_20.png
output/tentacle_mesh_both.ply
output/tentacle_mesh_depth.ply
output/cat_mesh_normals.ply
output/Flowers_depth.npy
output/Flowers_mesh_depth.ply
